:root{
    --PrimaryColor: hsl(199, 100%, 33%);
    --SecondaryColor: hsl(187, 85%, 43%);
    --gradientColor: linear-gradient(to right, hsl(187, 85%, 43%), hsl(199, 100%, 33%));
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(201, 33%, 16%);
    --textColor: hsl(240, 4%, 36%);
    --whiteColorDeam: hsl(0, 0%, 93%);
    --greyText: rgb(190, 190, 190);
    --inputColor: rgb(239, 239, 239);
    --bodyColor: rgb(240, 240, 246);
    --cardBG: rgb(225, 225, 235);
  }

.fromContainer{
    padding-top: 120px;
    padding-bottom: 60px;
}

.formCard{
    background: var(--gradientColor);
    padding: 20px;
    box-shadow: 10px;
}

.formImg{
    height: 30px;
    width: 40px;
}

.paySubTitle{
    color: var(--SecondaryColor);
    font-size: 16px;
}
.payHeadTitle{
    color: var(--textColor);
    font-size: 20px;
}
.formheadImg{
    height: 60px;
    width: 80px;
    padding: 2px;
}

.icon {
    font-size: 25px;
    color: var(--PrimaryColor);
    transform: translate(5px);
}

.cardPayment{
    height: max-content;
}

.btnWidth{
    width: 100%;
}

.filterButton {
    padding: .6rem 1.5rem;
    background: var(--gradientColor);
    border-radius: 0.5rem;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;

}

.filterButton:hover{
    background: var(--SecondaryColor);
    color: white;
    cursor: pointer;
}

@media screen and (max-width: 540px) {
    .imgBtn{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .payBtn{
        margin-top: 15px;
    }
}